/* * {
    box-shadow: 0 0 0 3px red inset;
} */

* {
    margin: 0;
    padding: 0;
}

.Mbody {
    height: 100vh;
    width: 100%;
    background-color: rgb(184, 184, 212);
}

.GeneralContent {
    height: 85%;
}

.EcartInfo {
    height: 4%;
}

.LignInfo {
    position: fixed;
    z-index: 12;
    height: 4%;
    width: 100%;
    display: flex;
    background-color: black;
}

.contentInfo {
    display: flex;
    width: 100%;
    font-size: 22px;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
}

.titreInfo {
    height: 100%;
    width: 17%;
    display: flex;
    z-index: 5;
    background-color: black;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    animation: marquee 30s linear infinite;
    /* Réglez la durée et les autres propriétés d'animation selon vos besoins  */
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.imCaroussel {
    height: 280px !important;
}

.Navbar {
    position: sticky;
    top: 0px;
    z-index: 120;
    height: 6%;
    width: 100%;
    background-color: rgb(0, 0, 255);
}



.titre {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: black;
}

.ListeDesir {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.Des {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 70px;
    border-radius: 5px;
    background-color: rgb(43, 101, 226);
}

.footer {
    display: flex;
    align-items: center;
    height: 9%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.footerContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.divIcon {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Icon {
    width: 40px;
    height: 35px;
}