/* * {
    box-shadow: 0 0 0 3px red inset;
} */

* {
    margin: 0;
    padding: 0;
}

.Mbody {
    height: 100vh;
    width: 100%;
    background-color: rgb(184, 184, 212);
}

.GeneralContent {
    height: 86%;
}

.EcartInfo {
    height: 4%;
}

.LignInfo {
    position: fixed;
    z-index: 12;
    height: 4%;
    width: 100%;
    display: flex;
    background-color: black;
}

.contentInfo {
    display: flex;
    width: 100%;
    font-size: 22px;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
}

.titreInfo {
    height: 100%;
    width: 17%;
    display: flex;
    z-index: 5;
    background-color: black;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    animation: marquee 30s linear infinite;
    /* Réglez la durée et les autres propriétés d'animation selon vos besoins  */
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.imCaroussel {
    height: 280px !important;
}

.Navbar {
    position: sticky;
    top: 0px;
    z-index: 120;
    height: 6%;
    width: 100%;
    background-color: rgb(0, 0, 255);
}



.titre {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: black;
}

.titreChoix {
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: black;
}

.ListeDesir {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.Des {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 70px;
    border-radius: 5px;
    background-color: rgb(43, 101, 226);
}

.footer {
    display: flex;
    align-items: center;
    height: 8%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.footerContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.divIcon {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lienFooter {
    color: white;
    text-decoration: none;
}

.Icon {
    width: 40px;
    height: 33px;
}


/* STYLE PAGE CHOIX */
.Prcp {
    width: 100% !important;
    margin-bottom: 4px;
    background-color: rgba(0, 128, 0, 0) !important;
}

.TotalDiv {
    width: fit-content;
    font-size: 1.2rem;
    padding: 2px;
    margin-top: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(0, 26, 255, 0.425);
    color: rgb(255, 255, 255);
}

.ContentTab {
    width: 95%;
}

.largeur {
    padding: 0px !important;
    width: 100% !important;
}

.CentrContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.CorpsContent {
    margin-top: 2px !important;
    /* background-color: rgba(0, 0, 255, 0.356); */
    width: 100%;
    display: flex;
    height: 45vh;
    justify-content: center;
    overflow: scroll;
    overflow-x: hidden;
    margin: 0px;
    padding: 4px;
}

.table {
    height: 28vh !important;
}




/* STYLE TEINTE */
.Corpscard {
    padding: 4px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(182, 174, 174, 0.575);
}

.Textcard {
    color: black;
    font-weight: 700;
    font-size: 19px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DivRetour {
    margin-top: 11px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardPrincTeinte {
    padding-top: 8px;
    background-color: rgb(90, 85, 85);
    height: 55vh;
    flex-wrap: wrap;
    gap: 15px;
}

/* RESPONSIVE ZONE */
@media screen and (max-width:700px) {
    .CorpsContent {
        height: 52vh;
    }

    .cardPrincTeinte {
        padding-top: 8px;
        background-color: rgb(90, 85, 85);
        height: 58vh;
        flex-wrap: wrap;
        gap: 15px;
    }
}